

SELECT student.[name],major.[name],program.programName
FROM student
	JOIN program ON student.programId=program.programId
	JOIN major ON program.majorCode=major.code
	WHERE program.programName IS NOT NULL

USE master
GO

CREATE DATABASE [Students EN]
GO

USE [Students EN]

CREATE TABLE student(
	studentId int IDENTITY(200,1) NOT NULL PRIMARY KEY,
	name nvarchar(20) NOT NULL,
	programId int NOT NULL,
	[grant] money NULL,
	city nvarchar(20) NULL,
	birthDate date NULL,
	registered bit NULL,
 )

CREATE TABLE program(
	programId int IDENTITY(100,1) NOT NULL PRIMARY KEY,
	programName nvarchar(30) NOT NULL,
	institute nvarchar(20) NULL,
	capacity int NULL,
	category nvarchar(50) NULL,
	duration tinyint NULL,
	majorCode nchar(5) NULL,
)

CREATE TABLE major(
	code nchar(5) NOT NULL PRIMARY KEY,
	name nvarchar(50) NOT NULL
)

SET IDENTITY_INSERT student ON 
SET IDENTITY_INSERT student OFF

SET IDENTITY_INSERT program ON 
INSERT program (programId, programName, institute, capacity, category, duration, majorCode) 
VALUES	(104, 'Information Technology', 'InHolland', 40, 'T01', 4, 'T01'),
		(105, 'Innovation Business', 'HAN', 500, 'BUS', 4, 'BUS'),
		(106, 'Construction Engineering', 'InHolland', NULL, 'T02', 4, 'T02'),
		(107, 'Didactics', 'Universiteit Diemen', 120, 'D01', 3, 'D01'),
		(108, 'Dance', 'HvA', NULL, 'ART', 4, 'ART'),
		(109, 'Politics', 'Haagse Hogeschool', 60, 'OTH', 2, 'OTH'),
		(112, 'Economics', 'HvA', 150, 'BUS', 4, 'BUS'),
		(113, 'Nursing', 'Hogeschool Utrecht', 100, 'H11', 4, 'H11')
SET IDENTITY_INSERT program OFF


INSERT major (code, name) 
VALUES	('OTH', 'Other'),
		('BUS', 'Business'),
		('D01', 'Education'),
		('ART', 'Art'),
		('T01', 'Technique'),
		('T02', 'Engineering'),
		('H11', 'Health')
GO

ALTER TABLE student
ADD FOREIGN KEY (programID) REFERENCES program (programID)

ALTER TABLE program
ADD FOREIGN KEY (majorCode) REFERENCES major (code)

